Enter your ingredients here: 
<hr>

<form action="/check_ingredients" method="get">
  <div>
      <label for="ingredient_field">Enter your Ingredients Here:</label>
      <textarea id="ingredient_field" name="ingredients" rows="4" cols="50"></textarea>
  </div>
  <button>Split</button>
</form>
